html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

footer {
  clear: both;
  position: relative;
  background-color: #FFE1A8;;
  height: 150px;
  text-align: center;
  vertical-align: center;
}

footer > img {
  margin-top:20px;
  width: 20%;
  height: 60%;
}

/* HERO IMAGE */
.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background-image: url(../assets/hands.jpeg);
  display: table;
  background-size: cover;
}

.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
  text-align: center;
}


.content {
  margin: auto 0;
}

.content h1 {
  font-family: 'Delius Unicase', cursive;
  font-size: 400%;
  color:white;
  text-shadow: 3px 3px 100px #472D30;
}

.btn {
  background: #472D30;
  border-radius: 9px;
  font-family: 'Bree Serif', serif;
  color: #FFE1A8;
  font-size: 200%;
  padding: 10px 20px;
  border: solid #FFE1A8 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  color: white;
  text-shadow: 3px 3px 200px #472D30;
  border: solid;
}

h1 {
  font-family: 'Delius Unicase', cursive;
  color: #472D30;
  font-size: 30px;
}

main {
  width: 960px;
  margin: auto;
}

/* ABOUT US */
main > article {
  margin: 100px 0;
}

main > article > img {
  border-radius: 5px;
}

main > article > section {
  width: 50%;
  float:right;
  margin-right: 10%;
}

p {
  font-family: 'Dosis', sans-serif;
  font-size:1em;
  overflow: scroll;
  height: 200px;
  line-height: 22px;
  font-style: italic;
  overflow: scroll;
}

/* PRODUCT */
img {
  border-radius: 5px;
}

#product > ul {
  margin-top: 50px;
  margin-bottom: 500px;
}

#product > ul > li:nth-child(3n+2) {
  margin: 0 10px;
}

#product ul > li{
  list-style: none;
  float: left;
}

/* FINAL */
#visit {
  align-content: center;
}

#visit img {
  margin-left: 50px;
}
