body {
  background-color: #C9CBA3;
  margin: auto 0;
}

section {
  margin: 40px 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  margin: auto 0;
}

li {
  float: left;
}

a {
  margin: 0 60px;
}

li a {
  display: block;
  color: #723D46;
  padding: 1em;
  text-decoration: none;
  font-family: 'Bree Serif', serif;
  font-size: 1.5em;
}

li a:hover {
  background-color: #723D46;
  color: #FFE1A8;
}

h2 {
  font-family: 'Bree Serif', serif;
  color: #723D46;
  text-shadow: 2px 2px #C9CBA3;
  font-size: 2em;
  text-align: center;
}

fieldset {
  margin: 10px 60px;
}

legend {
  font-family: 'Bree Serif', serif;
  color: #723D46;
  font-size:2em;
}

label {
  font-family: 'Bree Serif', serif;
  color: #723D46;
  font-size: 20px;
  width: 20%;
  line-height: 40px;
}

input {
  font-size: 20px;
  border: 2px solid #723D46;
  width: 30%;
}

table {
  font-family: 'Dosis', sans-serif;
  border: solid black 2px;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto; 
  font-size: 1.25em;
}

td {
  color: #723D46;
  text-shadow: 2px 2px #C9CBA3;
  padding: 5px;
  text-align: center;
  border: 1px solid #472D30;
}

img {
  border-radius: 5px;
  width: 20%;
  height: 20%;
  margin-top: 17px;
}

input[type=submit] {
  border-radius: 5px;
  background-color:#723D46;
  color: #C9CBA3;
  margin-left:350px;
  margin-top:20px;
}

input[type=submit]:hover {
  background-color: #FFE1A8;
  color: #723D46;
  transition: 350ms;
  cursor: pointer;
}