body {
  background-color: #C9CBA3;
  margin: auto 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  margin: auto 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: #723D46;
  padding: 1em;
  text-decoration: none;
  font-family: 'Bree Serif', serif;
  font-size: 1.5em;
}

li a:hover {
  background-color: #723D46;
  color: #FFE1A8;
}

h2 {
  font-family: 'Bree Serif', serif;
  color: #723D46;
  text-shadow: 2px 2px #C9CBA3;
  font-size: 2em;
  text-align: center;
}

legend {
  font-family: 'Bree Serif', serif;
}

table {
  font-family: 'Dosis', sans-serif;
  border: solid black 2px;
  border-radius: 5px;
  padding: 5px;
  margin: 0 auto; 
  font-size: 1.25em;
}

td {
  color: #723D46;
  text-shadow: 2px 2px #C9CBA3;
  padding: 5px;
  text-align: center;
  border: 1px solid #472D30;
}

img {
  border-radius: 5px;
  width: 20%;
  height: 20%;
  margin-top: 17px;
}